div{
    display: inline-block;
    position: absolute;
}

.handle{
    position: absolute;
    height: 30px;
    width: 100%;
    outline: 1px dashed #000;
    z-index: 100;
}

.dot{
    position: fixed;
    right: 0;
    margin: 15px;
}

.create{
    top: 0;
}

.erase{
    bottom: 0;
}