*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(to left top, #fff4c3, #feefba, #fee9b2, #fee4a9, #fedea1, #fedb9d, #ffd898, #ffd594, #ffd593, #ffd491, #ffd490, #ffd38e); */
    background-repeat: no-repeat;
    height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
